* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    height: 100%;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}